.mobile {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 1.5em 0em;
}

.content {
  padding-top: 1em;
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #f4f4f4;
}
